body {
  font-family:Arial, Helvetica, sans-serif;
}

header {
  background: linear-gradient(to right, #465ab8,#261360);
  color: white;
  padding: 5px;
  text-align: center;
}

aside {
  width: 30%;
  float: left;
  padding: 10px;
}

main {
  width: 70%;
  float: right;
  padding: 10px;
}

#weatherInfo {
  border: 1px solid black;
}

.hidden {
  display: none;
}

.visible {
  display: block;
}

#currentCity {
  font-size: 40px;
  margin: 15px 0 20px 20px;
  font-weight: bold;
}

#currentTemp, #currentWind, #currentHumd {
  margin: 15px 20px;
  font-size: 20px;
}
